node_modules/
dist/
venv/
.env
__pycache__/
*.pkl
*.csv
*.joblib
backend/.env
backend/app.db
backend/datasets/*
!backend/datasets/.gitkeep
backend/models/*
!backend/models/.gitkeep
frontend/node_modules/
frontend/dist/
frontend/.env
*.log
